.customer-layout {
    display: flex;
    gap: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
}

.mainpage-container {
    height: 100%;
    width: 95%;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
}

.main-section {
    width: 97%;
    height: 100%;
    background-color: var(--color-background);
    padding: 20px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    overflow-y: auto;
}

.main-section::-webkit-scrollbar {
    width: 0;
}

.addcustomer-personaldetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.personal-details-heading {
    background-color: var(--color-primary);
    padding: 8px 24px;
    color: var(--color-white);
    border-radius: 20px 20px 0 0;
}

.personaldetails-content {
    background-color: var(--color-white);
    border-radius: 0 0 20px 20px;
    width: 97%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    flex-direction: column;
}
.personaldetails-content2 {
    background-color: var(--color-white);
    border-radius: 0 0 20px 20px;
    width: 97%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
}

.pdetails-fieldvalue {
    display: flex;
    align-items: center;
    gap: 0;
}

.pdetails-field {
    color: var(--color-text);
    width: 200px;
}

.pdetails-value {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pdetails-value2 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 270px;
}

.pdetails-value-opt {
    display: flex;
    align-items: center;
    gap: 10px
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: relative !important;
    left: 0 !important;
}

.pdetails-cname {
    padding: 7px 10px;
}

input[text]:focus {
    border: solid 1px var(--color-primary);

}

.pdetails-input {
    padding: 7px 10px 7px 28px;
    width: 85%;
}

.pdetails-input2 {
    padding: 7px 28px 7px 10px;
    width: 85%;
}
.pdetails-input3 {
    padding: 7px 28px 7px 10px;
    width: 100%;
}

.pdetails-input3 {
    padding: 7px 28px 7px 10px;
    width: 100%;
}

.pdetails-input4 {
    padding: 7px 10px 7px 28px;
    width: 85%;
    border: 1px dashed var(--color-purple);
}

.pdetails-value-wrapper {
    position: relative;
}

.pdetails-value-wrapper2 {
    position: relative;
    width: 100%;
}

.pdetails-icon {
    height: 1.5rem;
    width: 30px;
    color: var(--color-grey);
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
}

.pdetails-icon2 {
    height: 1.5rem;
    width: 30px;
    color: var(--color-grey);
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 274px;
    transform: translateY(-50%);
}

.pdetials-doc-input {
    display: flex;
    align-items: flex-start;
    gap: 3px;
    flex-direction: column;

}


.aDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}


.roleBottom{
    width: 97%;
    margin-bottom: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}