.sidebar-navigator{
    color: var(--color-white);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.active-sidebar-navigator{
    background-color: var(--color-background);
    color: var(--color-orange);
}